@{
    ViewData["Title"] = "Najbolji sajt na svetu";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>
<body style="zoom:50%">
    <div class="text-center">
        <h1 class="display-4">Ćao Dunja :)</h1>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>Dosao je i taj dan....</h2>
        <h2> Gde idemo??</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>
        <h2>.</h2>

        <img src="~/images/slika2.jpg" alt="Sample Photo" />

        <h3>Ovde negde...</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>Kad idemo...?</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <h3>.</h3>
        <img src="~/images/slika1.png" alt="Sample Photo" />
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>Sa čim idemo?</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>To ćemo se jos dogovoriti........</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>Ali to nije razlog da ne ubacim ovu sliku</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <img width="850" height="550" src="~/images/slika3.jpg" alt="Sample Photo" />
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>

        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>Nemaa višeeeee</h4>
        <h4>Klikni dole za kraj</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>
        <h4>.</h4>

        <ul>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Kraj">KRAJ</a>
            </li>
        </ul>

    </div>
</body>