
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kraj stvarno</title>
    <style>
        .img-container {
            text-align: center;
        }
       </style>

</head >
<body >
<div class="img-container">


    <img src="~/images/slika5.jpg" alt="Sample Photo" class="text-center" / >
    <img src="~/images/slika4.jpg" alt="Sample Photo" / >


</div >
</body >
</html >
